.header {
    background-color: rgb(57,20,92);
    color:white;
    text-align: center;
	font-size: larger;
	height: max-content;
}

.header h1 {
	font-family: Roboto sans-serif;
	font-weight: 700;
}

#barra-nav {
	margin-left: 35%;
}
.navbar-light .navbar-toggler-icon{
	background-color: white;
}

/*Links de la barra de navegación*/
#link-nav { 
	color: white;
}

.header.nav-item{
	text-align: right;
	color: rgb(255, 255, 255);
}

.section {
	height: max-content;
}

#section0 {
	border:10px;
}

#section0 h2 {
	font-family: fantasy;
    font-size: 2.0em;
    color: rgb(57, 20, 92);
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Cambria', sans-serif;
	/* background-image: url('../img/background.jpg'); */
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(78, 12, 109, 0.26);
}

.booking-form {
	background-color: rgba(74, 18, 100, 0.39);
	max-width: 700px;
	width: 100%;
	margin: auto;
	padding: 30px;
	border-radius: 3px;
}

.booking-form .form-header {
	text-align: center;
}

.booking-form .form-header h1 {
	font-family: 'Cardo', serif;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 38px;
	color: #0c0c09;
	margin-top: 0;
	margin-bottom: 0px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-label {
	font-size: 14px;
	font-weight: 200;
	margin-bottom: 3px;
	display: inline-block;
	color: rgba(45, 6, 63, 0.712);
	text-transform: capitalize;
}

.booking-form .form-btn {
	margin-top: 25px;
}

.booking-form .submit-btn {
	color: rgb(73, 12, 92);
	background-color: rgba(255, 255, 255, 0.26);
	font-weight: 200;
	height: 35px;
	border: none;
	display: block;
	font-size: 14px;
	width: 100%;
	text-transform: capitalize;
	border-radius: 3px;
}

img {
    border-radius: 8px;
	margin: auto;
}

#col_names p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.2em;
	margin: 10px;
}

#historia_Corea {
    color: rgb(0, 0, 0);
    margin:5%;
}

#historia_Corea p {
	line-height: 2;
	text-align: justify;
	font-family: Garamond;
    font-size: 1.2em;
}

.center-col p {
    margin: 0;
    line-height: 1.6;
    text-align: justify;
}

.center-col #texto {
    text-align: justify;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

/*Botón de búsqueda del form*/
#btn-buscar {
	background-color: rgba(255, 255, 255, 0.37);
	border-radius: 5px;
	margin-top: 10px;
}

/*Botones de la table*/
#btn-1 {
	background-color:rgb(57,20,92);
	border-color:rgba(255, 255, 255, 0.26);
	color:white;
}

.table {
	width: max-content;
	border:1px solid black;
}


#boton-reserva {
	margin-left: 10px;
	margin-right: auto;
}

.footer {
    text-align: center;
    height: 80px;
    padding: 20px;
}

/*Link del footer*/
.footer a {
	color: rgba(10, 33, 95, 0.719);
}

.autocomplete{
	margin:0px;  
	padding:0px;  
	width:250px;
	background:#fff;
	border:1px solid #888;
	position:absolute;
}
  
.autocomplete ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
  
.autocomplete ul li.selected { 
	background-color:#ffb;
}
  
.div #autocomplete ul li {
	margin:0;
	padding:2px;
	height:32px;
	display:block;
	list-style-type:none;
	cursor:pointer;
}
